Source: libnrf24l01-chipkit
Section: libraries
XBSC-Family: pic32
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libnrf24l01-chipkit
Section: libraries
Architecture: all
XBSC-Group: Communications
XBSC-Subgroup: Networking
Depends: chipkit, libdspi-chipkit
Provides: nrf24l01.h
Description: nrf24l01 library for chipkit



