Source: libnrf24l01-chipkit
Section: libraries
Priority: extra
XBSC-Family: pic32
XBSC-Group: Communications
XBSC-Subgroup: Wireless
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libnrf24l01-chipkit
Architecture: all
Provides: nrf24l01.h
Depends: chipkit, libdspi-chipkit
Description: nrf24l01 library for chipkit

